/*font-family: 'Lato', sans-serif; font-family:
 'EB Garamond', serif;*/
html {
font=size: 20px;
}

body{
  width:700px;
  margin: auto;
  color: #FFFFFF
  background:#644E7E
  font-family:'EB Garamond', serif;
}
h1,h2,h3{
  font-family: 'Lato', sans-serif;
}
