/*error in validator does not exist. No alligator to be found. Also to note that parse errors are in error.*/
/*font-family: 'Bitter', Times, serif;
font-family: 'Lato', Helvetica, sans-serif;
font-family: 'Roboto Mono', Consola, monospace;*/
html {
font-size: 20px;
}

body{
  margin: 0px;
  background-color:#FFFFFF;
  font-family:'Bitter', Times, serif;
}

main {
  width: 100%;
  max-width: 1500px;
background: #644E7E;
border-radius: 1rem;
padding:1rem 2rem;
color:#FFFFFF
box-sizing: border-box;
margin: 1rem auto;
}

nav {
  color: #000000;
  display: block;
  background-color: #C8A2C8;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #FFF;
}

h1{
  text-align: center;
  font-family: 'Lato', Helvetica, sans-serif;
  font-style: normal;
  font-size:3rem;
  display: block;
  background-color: #C8A2C8;
  color: #644E7E;
  margin:0;
}

h2{
  font-family: 'Lato', Helvetica, sans-serif;
  text-align:center;
  margin:0;
}

h3{
  font-family: 'Lato', Helvetica, sans-serif;
  text-align:center;
  margin:0;
}

p{
  font-weight: lighter;
  font-size:1rem;
  text-align:center;
}

ul, ol {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  font-style: normal;
}

ol li {
  font-family: 'Lato', Helvetica, sans-serif;
  text-transform: uppercase;
}

ul li{
  font-family: 'Bitter', Times, serif;
  font-style: italic;
}

nav ul{
  display:flex;
}

a{
  font-weight:bolder;
  font-style: italic;
  font-family: 'Roboto Mono', Consola, monospace;
  color: #000000;
  text-decoration:none;
}

nav li, nav li a {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.active {
  background-color: #FFFFFF;
  padding: 1rem;
  color: #000000;
}

a:visited {
  color: #000000;
}

address {
  font-style:normal;
}
/*footer*/
footer {
 text-align: center;
 font-family: 'Lato', Helvetica, sans-serif;
 display:block;
 background: #C8A2C8;
 color: #644E7E;
 margin: auto;
 width:100%;
 border-radius: 1rem;
}

/*media*/

 .location-holder, .media-holder {
   width: 100%;
   margin: 4rem 0;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   box-sizing: border-box;
 }

 .image-holder img{
   display: block;
   margin-left: auto;
   max-width: 500px;
   margin-right: auto;
   width: 100%;
   padding: 20px;
   flex-direction: column;
   gap: 1.2rem;
   box-sizing: border-box;
 }

 .text-holder {
   border:10px dotted;
   border-color: #C8A2C8;
   width:100%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 20px 45px;
   flex-direction: column;
   box-sizing: border-box;
 }

/*browser 555px wide*/
 @media (min-width: 555px) {
   body {
     font-size:15px;
     width: 500px;
     margin: auto;
   }
   .media-holder{
     flex-direction:row;
   }
   .image-holder {
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     flex-direction:row;
   }
   .text-holder {
     width: 60%;
   }

   .media-list .text-holder{
     width:60%;
     flex-direction:row;
   }
  nav li{
     width: 50%;
   }
  nav ul {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
   }
}

/*if over 800px*/

 @media (min-width:800px) {
   body {
     font-size:20px;
     width: 700px;
     margin: auto;
   }
   .image-holder {
     width: 400px;
     margin-left: auto;
     margin-right: auto;
   }
   .media-list .text-holder {
     width: 75%;
   }
  nav li {
    width:25%;
  }
  nav ul {
  display:flex;
}
 }
